<div class="counter-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="sourceName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Source Name</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.sourceName}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="dps">
      <md-header-cell *cdkHeaderCellDef md-sort-header> DPS</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.dps | number : '1.0-0'}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="damage">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Damage</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.damage | number : '1.0-0'}}</md-cell>
    </ng-container>


    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <div class="counter-button-row">
    <!--<a md-button (click)="updateDamage()">Add Test</a>-->
    <a md-button (click)="onFileInput()"> Select </a>
    <a md-button (click)="cleanUp()">Clean up</a>
  </div>
</div>
