.counter-container {
  display: flex;
  flex-direction: column;
  //height: 90%;
  height: 600px;
  width: 600px;
  position: relative;
  background: white;
}

.counter-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  margin-bottom: 36px;
}

.counter-button-row {
  position: absolute;
  bottom: 0;
}
