<div class="counter-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <ng-container cdkColumnDef="sourceName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> sourceName</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.sourceName}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="DPS">
      <md-header-cell *cdkHeaderCellDef md-sort-header> DPS</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.DPS}}%</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="Damage">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Damage</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.Damage}}</md-cell>
    </ng-container>


    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <div class="counter-button-row">
    <a md-button (click)="updateDamage()">Add Test</a>
    <a md-button (click)="cleanUp()">Clean up</a>
  </div>
</div>
