@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.example-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  position: relative;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  margin-bottom: 36px;
}

.example-button-row {
  position: absolute;
  bottom: 0;
}
